/* Universal Selector */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 240px;
}
:root{
    --praragraph:#727272;
    --paragraphfontsize:16px;
    --paragraphline:26px;
}
.primary-btn{
    padding: 10px 12px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    margin-bottom: 20px;
}
/* ------Header Section------- */

header{
    background-color:rgba(255, 144, 14, 0.1); 
    padding: 24px 0;
}
/* Nav Section */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: flex;
    column-gap: 35px;
    
}
.nav-item li{
                list-style: none;
}
.nav-item li a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

/* barnd Section */

.barnd-new{
    padding: 0 120px;
    text-align: center;
    margin-top: 102px;
}
.brand-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 20px;
}
.brand-paragraph{
    font-size: var(--paragraphfontsize);
    line-height: var(--paragraphline);
    color: var(--praragraph);
    margin-bottom: 32px;
}

.brand-btn{
    display: flex;
    justify-content: center;
}


.header-banner {
    width: 885px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  /* Feature Section */
  .feature-section{
    margin-top: 85px;
    padding: 0 41px;
  }
  .feature-left-item img{
    height: 150px;
    width: 150px;
    border-radius: 8px;
  }

  .feature{
    display: flex;
    column-gap: 73px;
  }

  .feature-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
  }
  .feature-right{
    display: flex;
    align-items: center;
  }

  .feature-right-header{
    font-size: 20px;
  }
  .quick-list{
    color: var(--praragraph);
  }
  .of-our{
    color: #131313;;
    font-weight: 700;
  }
  .feature{
    color: #FF900E;
    font-weight: 700;
  }
  .feature-right-paragraph{
    color: var(--praragraph);
    font-size: 16px;
    font-weight: 400;
  }
  .feature-right-btn{
    margin-top: 22px;
  }
 

  /* experiance Section */
  .Experiance{
    margin-top: 130px;
    margin-bottom: 70px;
  }
  .exp-container {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
  }
  .heading-content{
    width: 500px;
  }
  .facts-heading{
    margin-bottom: 20px;
  }
  .facts-paragraph{
    font-size: 14px;
    color: var(--praragraph);
  }
  .exp-header-container{
    border-left: 2px solid #FF900E;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 30px;
  }
  .exp-content-right{
    width: 60%;
  }
  .exp-header{
    font-size:22px;
    font-weight: 700;
  }
  .exp-content{
    box-shadow: 0px 3px 5px 1px rgba(6, 6, 6, 0.08);
    padding: 30px 20px;
    margin-bottom: 10px;
  }
  .exp-content-header{
    margin-bottom: 4px;
  }
  .exp-content-para{
    font-size: 14px;
    color: var(--praragraph);
  }
  .exp-para{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
    color: var(--praragraph);
  }
  .exp-contents{
    margin-top: 10px;
  }
  .exp-content-left{
    width: 40%;
  }
 
  .img-content img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
 

  .years-content{
    padding: 12px 20px;
    background-color:#FF900E ;
    width: 120px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    bottom: 50px;
  }
/* start Facts Section */
  .facts-content{
    margin-top: 70px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: center;

  }

  .facts-item{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 140px;
    height: 140px;
    transition: all .5s ease-in-out;
    padding: 20px 20px;
    
  }

  .facts-item:hover{
    background-color: #FF900E;
    color: #FFFFFF;
    transform: scale(1.15);
    border: transparent;
    cursor: pointer;
  }

  /* Sponsor Section */
  .heading-content{
    margin: 0 auto;
    text-align: center;
  }
  .heading-para{
    color: var(--praragraph);
    font-size: 14px;
  }
  .sponsor-content{
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
  }

  .sposor-item img{
    width: 70px;
  }

  /* Footer-Section */

  .footer-content{
    background-color: #FFF4E7;
    text-align: center;
    padding: 10px 0;

  }

  /*------------ Responsive Styles ---------------*/

  /* Mobile Responsive */

  @media screen and (max-width:576px) {
    /* Header Section */
      header{
        padding: 0;
      }
      .container{
        margin: 0;
      }

      .nav-container{
        flex-direction: column;
        gap: 12px;
      }

      .nav-item{
        flex-direction: column;
        column-gap: 0;
        row-gap: 10px;
        align-items: center;
      }

      .barnd-new{
        padding: 0 20px;
        margin-top: 20px;
      }

      .brand-title{
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 35px;
                    border-bottom: 2px solid #FF900E;
                    
      }
      .brand-paragraph{
        margin-bottom: 12px;
        text-align: justify;
        padding: 0 30px;
      }
      .banner{
        width: 100vw;
      }
      .header-banner{
        width: 100%;
        height: auto;
        margin-bottom: 0;
      }
    .hide{
      display: none;
    }

    /* Feature Section */
    .feature-section{
      margin-top: 30px;
    }
    .feature{
      flex-direction: column-reverse;
    }

    .feature-left{
      grid-template-columns: repeat(1,1fr);
      justify-items: center;
      grid-column-gap: 0;
      grid-row-gap: 12px;
    }
    .feature-right-header{
      text-align: center;
    }
    .feature-right-paragraph{
      text-align: justify;
    }
    .feature-right-btn{
      display: flex;
      justify-content: center;
    }
    .feature-left-item img {
      width: 100%;
      height: auto;
    }

    /* Experiance Section */
    .Experiance{
      margin-top: 30px;
      padding: 0 20px;
    }
    .exp-container{
      flex-direction: column;
    }
    .exp-content-left , .exp-content-right{
      width: 100%;
    }
    .exp-header-container{
      border-left: 0;
      padding: 0;
      text-align: center;
      margin-bottom: 12px;
      margin-top: 20px;
    }
    .img-content{
      margin-top: 30px;
    }
    .img-content img{
      width: 100%;
      height: 280px;
    }
    .years-content{
      bottom: 0;
      margin: 0 auto;
      margin-top: 20px;
    }

    /* Fact Section */
    
    .heading-content{
      width: 100%;
    }
    .facts-heading{
      margin-bottom: 0;
    }
    .facts-paragraph{
      padding: 20px;
    }
    .facts-content{
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      margin-top: 30px;
      margin-bottom: 50px;
    }

    /* Sponsor Section */
    .sponsor-heading{
      margin-bottom: 20px;
    }
    .sponsor-content{
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    /* Footer Section */

    .footer-content{
      margin-bottom: 0;
    }
  }

  /* I Pad Responsive */

  @media screen and (min-width:577px) and (max-width:992px) {
    .container{
      margin: 0;
      
    }
    .nav-container{
      padding: 0 20px;
    }
    .barnd-new{
      padding: 0 80px;
    }
    .banner{
      width: 100vw;
    }
    
    .header-banner{
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
    .exp-container{
      padding: 0 20px;
    }

    .exp-content-left, .exp-content-right{
      width: 50%;
    }
    .exp-content-right{
      align-self: center;
    }
    
    .years-content{
      bottom: 0;
      margin: 30px auto 0 auto;
    }
    .facts-content{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      grid-row-gap: 40px;
    }
    .sponsor-content{
      padding: 0 90px;
    }
    .hide{
      display: none;
    }
  }